body {
  background-color: rgb(35, 22, 218);
  color: #bcbdba;
  font-size: rem;

  .btn {
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    color: black;
    background-color: rgb(102, 47, 255);
  }
  .brand {
    width: 300px;
    height: 200px;
    border: 2px yellow solid;
  }
}
